body {
  margin: 0;
  background-color: rgb(255, 254, 245);
}

.headerBar {
  height: 100px;
  background-color: rgb(0, 0, 0);
  z-index: 0;
}

.inputBar {
  display: flex;
  padding: 30px;
  background-color: rgb(0, 0, 0);
  align-items: center;
  max-width: 800px;
  justify-content: space-between;
}

.inputBar input {
  padding-left: 8px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgb(236, 233, 204);
  border-radius: 8px;
  color: rgb(236, 233, 204);
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline-style: none;
  box-sizing: border-box;
  transition: background-color 0.4s ease;
}

.inputBar input:hover {
  background-color: rgb(71, 71, 71);
}

.barContainer {
  display: inline-flex;
  align-items: center;
  margin-right: 15px;
}

::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding-left: 8px;
  font-weight: 300;
  font-style: italic;
  color: rgb(236, 233, 204);
}

.inputBar label {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: rgb(236, 233, 204);
  margin-right: 14px;
}

.inputIcon {
  color: rgb(236, 233, 204);
  margin-right: 14px;
  font-size: 36px;
}

#dueDate {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  padding-left: 8px;
  color: rgb(236, 233, 204);
  cursor: pointer;
}

.inputBar button {
  font-family: 'Open Sans', sans-serif;
  height: 40px;
  width: 80px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(236, 233, 204);
  font-style: italic;
  border: 1px solid rgb(236, 233, 204);
  border-radius: 8px;
  background-color: black;
  transition: background-color 0.4s ease;
  outline-style: none;
  cursor: pointer;
}

.inputBar button:hover {
  color: black;
  background-color: rgb(236, 233, 204);
}

.inputBar select {
  height: 40px;
  width: 80px;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(236, 233, 204);
  border: 1px solid rgb(236, 233, 204);
  border-radius: 8px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding-left: 5px;
  font-style: italic;
  outline-style: none;
  transition: background-color 0.4s ease;
  cursor: pointer;
}

.inputBar select:hover {
  background-color: rgb(71, 71, 71);
}

#taskContainer {
  margin: 20px;
  height: auto;
  max-width: 800px;
}

.taskEntry {
  display: grid;
  grid-template-columns: 60% 20% 10% 5% 5%;
  height: 60px;
  border: 1px solid rgb(141, 141, 141);
  border-radius: 8px;
  margin: 12px 0;
  padding-left: 12px;
  transition: box-shadow 0.2s ease;
}

.taskEntry:hover {
  box-shadow: 0px 2px 2px rgb(175, 175, 175);
}

.taskEntry div {
  display: inline;
  margin: auto 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.dueDate {
  font-size: 14px;
}

.priority p {
  text-align: center;
  cursor: pointer;
}

.delete,
.done {
  text-align: center;
}

.check:hover {
  border-radius: 100%;
  background-color: rgb(84, 167, 84);
  color: white;
  cursor: pointer;
}

.ex:hover {
  border-radius: 100%;
  background-color: maroon;
  color: white;
  cursor: pointer;
}

.check {
  color: rgb(84, 167, 84);
  padding: 3px;
  transition: all 0.4s ease;
  border-radius: 100%;
}

.ex {
  color: maroon;
  padding: 3px;
  transition: all 0.4s ease;
  border-radius: 100%;
}

.none {
  font-size: 12px;
  font-style: italic;
}

.oneBang {
  font-weight: 600;
  color: orange;
  font-size: 20px;
  line-height: 12px;
}

.twoBangs {
  font-weight: 600;
  color: red;
  font-size: 20px;
  line-height: 12px;
}

.threeBangs {
  font-weight: 600;
  color: maroon;
  font-size: 20px;
  line-height: 12px;
}

.doneTask {
  background-color: rgba(0, 0, 0, 0.185);
  font-style: italic;
  color: rgb(160, 160, 160);
}
